* {
    font-family: 'Roboto', Helvetica, sans-serif;
    margin: 0px;
}

.body {
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    color: white;
    background-color: #1f2937;
    display: flex;
    flex: 3;
    padding: 20px 0px;
    justify-content: flex-start
}

.header_logo {
    font-size: 24px;
    font-weight: bold;
    padding-left: 100px;
}

.header_links {
    display: flex;
    padding: 0px 5px;
    margin: 0px;
    gap: 24px;
    margin-left: auto;
    padding-right: 100px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/* hero */

.hero {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.hero_title {
    font-weight: 700;
    font-size: 48px;
}

.hero_text {
    padding: 10px 0px;

}

.hero_button {
    background-color: #3882f6;
    color: white;
    border: navajowhite;
    border-radius: 4px;
    padding: 6px 24px;
    font-weight: bold;
}

.hero_img {
    height: 200px;
    padding-left: 30px;
}

/* hero end */


/* carousel */
.carousel_title {
    display: flex;
    padding: 30px 0px;
    font-size: 36px;
    font-weight: 900;
    justify-content: center;
}

.carousel_items {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_box {
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 15px;
    margin: 16px;
}

.content_box_text {
    text-align: center;
    width: 150px;
}


/* carousel end */

/* quotation */
.quotation {
    background-color: #e5e7eb;
    
    display: flex;
    /* justify-content: center; */
    justify-content: center;
    padding: 100px;
    /* flex-direction: column; */
}

.quote_text {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    width: 800px;
    /* flex-shrink: 1; */
}

.quote_signature {
    color: #1f2937;
    font-size: 36px;
    text-align: right;
    font-weight: bolder;
    align-self: flex-end;
    /* flex-shrink: 1; */
}

.quotation_inner{
    display: flex;
    /* flex-shrink: 2; */
}
/* quotation end */

/* call to action */
.call_to_action {
    display: flex;
    justify-content: center;
    align-self: center;
}

.cta_box {
    background-color: #3882f6;
    padding: 30px 70px;
    margin: 70px 0px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;

}

.cta_button {
    flex: 1;
    width: 100px;
    height: 32px;
    margin: 20px;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    background-color: #3882f6;
}

.cta_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #e5e7eb;
}

.cta_title {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

/* call to action end */

.spacer {
    flex-grow: 2;
}


.footer {
    justify-content: center;
}